USE [master]
GO
/****** Object:  Database [AirlineTickets]    Script Date: 10.12.2025 0:35:17 ******/
CREATE DATABASE [AirlineTickets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirlineTickets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AirlineTickets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AirlineTickets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AirlineTickets_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirlineTickets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirlineTickets]
GO
/****** Object:  User [PublicGuest]    Script Date: 10.12.2025 0:35:17 ******/
CREATE USER [PublicGuest] FOR LOGIN [PublicGuest] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin]    Script Date: 10.12.2025 0:35:17 ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PublicGuest]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [PublicGuest]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Admin]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Admin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Admin]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [Admin]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [Admin]
GO
/****** Object:  Table [dbo].[SystemUsers]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserLogin] [nvarchar](50) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserPassword] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[SystemUsersSecure]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 15. Создание представления для безопасного просмотра пользователей
CREATE   VIEW [dbo].[SystemUsersSecure]
AS
SELECT 
    UserId,
    UserLogin,
    UserRole,
    FullName,
    Email,
    CreatedDate,
    IsActive,
    '********' AS PasswordMasked, -- Маскированный пароль
    CASE 
        WHEN UserPassword IS NOT NULL THEN 'Зашифрован'
        ELSE 'Не установлен'
    END AS PasswordStatus
FROM SystemUsers;

GO
/****** Object:  Table [dbo].[Airlines]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airlines](
	[AirlineId] [int] IDENTITY(1,1) NOT NULL,
	[AirlineName] [nvarchar](100) NOT NULL,
	[AirlineCode] [char](2) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[ContactPhone] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AirlineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AirlineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[AirportId] [int] IDENTITY(1,1) NOT NULL,
	[AirportCode] [char](3) NOT NULL,
	[AirportName] [nvarchar](150) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[TimeZone] [nvarchar](50) NOT NULL,
	[Latitude] [decimal](10, 6) NULL,
	[Longitude] [decimal](10, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[AirportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AirportCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FareClasses]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FareClasses](
	[FareClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[ClassCode] [char](1) NOT NULL,
	[Multiplier] [decimal](3, 2) NOT NULL,
	[BaggageAllowance] [nvarchar](50) NOT NULL,
	[MealIncluded] [bit] NOT NULL,
	[PriorityBoarding] [bit] NOT NULL,
	[LoungeAccess] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FareClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClassCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[FlightId] [int] IDENTITY(1,1) NOT NULL,
	[FlightNumber] [varchar](10) NOT NULL,
	[AirlineId] [int] NOT NULL,
	[DepartureAirportId] [int] NOT NULL,
	[ArrivalAirportId] [int] NOT NULL,
	[AircraftId] [int] NOT NULL,
	[ScheduledDeparture] [datetime2](7) NOT NULL,
	[ScheduledArrival] [datetime2](7) NOT NULL,
	[ActualDeparture] [datetime2](7) NULL,
	[ActualArrival] [datetime2](7) NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Gate] [varchar](10) NULL,
	[Terminal] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[FlightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[PassengerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[BirthDate] [date] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[DocumentType] [nvarchar](20) NOT NULL,
	[DocumentNumber] [varchar](20) NOT NULL,
	[Citizenship] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[FrequentFlyerNumber] [varchar](20) NULL,
	[EncryptedDocumentNumber] [varbinary](max) NULL,
	[EncryptedPhoneNumber] [varbinary](max) NULL,
	[EncryptedEmail] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PassengerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DocumentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[AircraftId] [int] NOT NULL,
	[SeatNumber] [varchar](4) NOT NULL,
	[FareClassId] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
	[Position] [char](1) NOT NULL,
	[IsEmergencyExit] [bit] NOT NULL,
	[HasExtraLegroom] [bit] NOT NULL,
	[IsBulkhead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Seat_Per_Aircraft] UNIQUE NONCLUSTERED 
(
	[AircraftId] ASC,
	[SeatNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[PassengerId] [int] NOT NULL,
	[FlightId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[BookingStatus] [nvarchar](20) NOT NULL,
	[SpecialRequests] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[TicketNumber] [varchar](13) NOT NULL,
	[FareClassId] [int] NOT NULL,
	[FinalPrice] [decimal](10, 2) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[IssuedBy] [nvarchar](50) NULL,
	[IsElectronic] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ActiveBookings]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.1. Представление активных бронирований
CREATE VIEW [dbo].[ActiveBookings] AS
SELECT 
    b.BookingId,
    p.PassengerId,
    p.LastName + ' ' + p.FirstName + ISNULL(' ' + p.MiddleName, '') AS PassengerName,
    p.DocumentNumber,
    f.FlightId,
    f.FlightNumber,
    al.AirlineName,
    dep.AirportCode AS DepartureCode,
    dep.City AS DepartureCity,
    arr.AirportCode AS ArrivalCode,
    arr.City AS ArrivalCity,
    f.ScheduledDeparture,
    f.ScheduledArrival,
    s.SeatNumber,
    fc.ClassName,
    fc.ClassCode,
    b.BookingDate,
    b.BookingStatus,
    t.TicketNumber,
    t.FinalPrice,
    DATEDIFF(HOUR, GETDATE(), f.ScheduledDeparture) AS HoursToDeparture,
    CASE 
        WHEN DATEDIFF(HOUR, GETDATE(), f.ScheduledDeparture) < 24 THEN 'Срочный'
        WHEN DATEDIFF(HOUR, GETDATE(), f.ScheduledDeparture) < 72 THEN 'Ближайший'
        ELSE 'Плановый'
    END AS Priority
FROM Bookings b
INNER JOIN Passengers p ON b.PassengerId = p.PassengerId
INNER JOIN Flights f ON b.FlightId = f.FlightId
INNER JOIN Airlines al ON f.AirlineId = al.AirlineId
INNER JOIN Airports dep ON f.DepartureAirportId = dep.AirportId
INNER JOIN Airports arr ON f.ArrivalAirportId = arr.AirportId
INNER JOIN Seats s ON b.SeatId = s.SeatId
INNER JOIN FareClasses fc ON s.FareClassId = fc.FareClassId
LEFT JOIN Tickets t ON b.BookingId = t.BookingId
WHERE b.BookingStatus IN ('Confirmed', 'Pending', 'CheckedIn')
  AND f.ScheduledDeparture > GETDATE();

GO
/****** Object:  View [dbo].[ChildrenOnFlights]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.2. Представление детей на рейсах (для запроса 8)
CREATE VIEW [dbo].[ChildrenOnFlights] AS
SELECT 
    f.FlightId,
    f.FlightNumber,
    al.AirlineName,
    dep.City AS DepartureCity,
    arr.City AS ArrivalCity,
    f.ScheduledDeparture,
    p.PassengerId,
    p.LastName + ' ' + p.FirstName AS ChildName,
    p.BirthDate,
    DATEDIFF(YEAR, p.BirthDate, GETDATE()) AS Age,
    p.DocumentNumber AS ChildDocument,
    s.SeatNumber,
    fc.ClassName,
    b.BookingStatus,
    t.TicketNumber,
    t.FinalPrice AS TicketPrice
FROM Bookings b
INNER JOIN Passengers p ON b.PassengerId = p.PassengerId
INNER JOIN Flights f ON b.FlightId = f.FlightId
INNER JOIN Airlines al ON f.AirlineId = al.AirlineId
INNER JOIN Airports dep ON f.DepartureAirportId = dep.AirportId
INNER JOIN Airports arr ON f.ArrivalAirportId = arr.AirportId
INNER JOIN Seats s ON b.SeatId = s.SeatId
INNER JOIN FareClasses fc ON s.FareClassId = fc.FareClassId
LEFT JOIN Tickets t ON b.BookingId = t.BookingId
WHERE b.BookingStatus = 'Confirmed'
  AND DATEDIFF(YEAR, p.BirthDate, GETDATE()) < 12;

GO
/****** Object:  View [dbo].[PassengersAnonymized]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. Создание представления для обезличенных данных
CREATE   VIEW [dbo].[PassengersAnonymized]
AS
SELECT 
    PassengerId,
    LEFT(LastName, 1) + REPLICATE('*', LEN(LastName) - 1) AS LastName,
    LEFT(FirstName, 1) + REPLICATE('*', LEN(FirstName) - 1) AS FirstName,
    YEAR(BirthDate) AS BirthYear,
    Gender,
    '***' AS DocumentNumber,
    '***' AS PhoneNumber,
    '***' AS Email,
    Citizenship
FROM Passengers;

GO
/****** Object:  Table [dbo].[Aircrafts]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircrafts](
	[AircraftId] [int] IDENTITY(1,1) NOT NULL,
	[AirlineId] [int] NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[RegistrationNumber] [varchar](20) NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[EconomySeats] [int] NOT NULL,
	[BusinessSeats] [int] NOT NULL,
	[FirstClassSeats] [int] NOT NULL,
	[YearOfManufacture] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AircraftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baggage]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baggage](
	[BaggageId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[BaggageNumber] [varchar](20) NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BaggageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BaggageNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[TransactionId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_Flight]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Flight] ON [dbo].[Bookings]
(
	[FlightId] ASC,
	[BookingStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Passenger]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Passenger] ON [dbo].[Bookings]
(
	[PassengerId] ASC,
	[BookingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_StatusDate]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_StatusDate] ON [dbo].[Bookings]
(
	[BookingStatus] ASC,
	[BookingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flights_Airline]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Flights_Airline] ON [dbo].[Flights]
(
	[AirlineId] ASC,
	[ScheduledDeparture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flights_Arrival]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Flights_Arrival] ON [dbo].[Flights]
(
	[ArrivalAirportId] ASC,
	[ScheduledArrival] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Flights_Departure]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Flights_Departure] ON [dbo].[Flights]
(
	[DepartureAirportId] ASC,
	[ScheduledDeparture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Flights_Status]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Flights_Status] ON [dbo].[Flights]
(
	[Status] ASC,
	[ScheduledDeparture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Passengers_BirthDate]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Passengers_BirthDate] ON [dbo].[Passengers]
(
	[BirthDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Passengers_Document]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Passengers_Document] ON [dbo].[Passengers]
(
	[DocumentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Passengers_Name]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Passengers_Name] ON [dbo].[Passengers]
(
	[LastName] ASC,
	[FirstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seats_AircraftClass]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Seats_AircraftClass] ON [dbo].[Seats]
(
	[AircraftId] ASC,
	[FareClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_IssueDate]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_IssueDate] ON [dbo].[Tickets]
(
	[IssueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tickets_Number]    Script Date: 10.12.2025 0:35:17 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Number] ON [dbo].[Tickets]
(
	[TicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Baggage] ADD  DEFAULT ('CheckedIn') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[FareClasses] ADD  DEFAULT ((1.0)) FOR [Multiplier]
GO
ALTER TABLE [dbo].[FareClasses] ADD  DEFAULT ((1)) FOR [MealIncluded]
GO
ALTER TABLE [dbo].[FareClasses] ADD  DEFAULT ((0)) FOR [PriorityBoarding]
GO
ALTER TABLE [dbo].[FareClasses] ADD  DEFAULT ((0)) FOR [LoungeAccess]
GO
ALTER TABLE [dbo].[Flights] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Completed') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((0)) FOR [IsEmergencyExit]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((0)) FOR [HasExtraLegroom]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((0)) FOR [IsBulkhead]
GO
ALTER TABLE [dbo].[SystemUsers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SystemUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((1)) FOR [IsElectronic]
GO
ALTER TABLE [dbo].[Aircrafts]  WITH CHECK ADD FOREIGN KEY([AirlineId])
REFERENCES [dbo].[Airlines] ([AirlineId])
GO
ALTER TABLE [dbo].[Baggage]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([FlightId])
REFERENCES [dbo].[Flights] ([FlightId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([PassengerId])
REFERENCES [dbo].[Passengers] ([PassengerId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seats] ([SeatId])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([AircraftId])
REFERENCES [dbo].[Aircrafts] ([AircraftId])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([AirlineId])
REFERENCES [dbo].[Airlines] ([AirlineId])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([ArrivalAirportId])
REFERENCES [dbo].[Airports] ([AirportId])
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD FOREIGN KEY([DepartureAirportId])
REFERENCES [dbo].[Airports] ([AirportId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([AircraftId])
REFERENCES [dbo].[Aircrafts] ([AircraftId])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([FareClassId])
REFERENCES [dbo].[FareClasses] ([FareClassId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([FareClassId])
REFERENCES [dbo].[FareClasses] ([FareClassId])
GO
ALTER TABLE [dbo].[Aircrafts]  WITH CHECK ADD  CONSTRAINT [CHK_Seats_Total] CHECK  (([TotalSeats]=(([EconomySeats]+[BusinessSeats])+[FirstClassSeats])))
GO
ALTER TABLE [dbo].[Aircrafts] CHECK CONSTRAINT [CHK_Seats_Total]
GO
ALTER TABLE [dbo].[Aircrafts]  WITH CHECK ADD  CONSTRAINT [CHK_Year] CHECK  (([YearOfManufacture]>=(1990) AND [YearOfManufacture]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Aircrafts] CHECK CONSTRAINT [CHK_Year]
GO
ALTER TABLE [dbo].[Baggage]  WITH CHECK ADD  CONSTRAINT [CHK_BaggageType] CHECK  (([Type]='Special' OR [Type]='Oversized' OR [Type]='Checked' OR [Type]='Hand'))
GO
ALTER TABLE [dbo].[Baggage] CHECK CONSTRAINT [CHK_BaggageType]
GO
ALTER TABLE [dbo].[Baggage]  WITH CHECK ADD  CONSTRAINT [CHK_Weight] CHECK  (([Weight]>=(0) AND [Weight]<=(50)))
GO
ALTER TABLE [dbo].[Baggage] CHECK CONSTRAINT [CHK_Weight]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CHK_BookingStatus] CHECK  (([BookingStatus]='CheckedIn' OR [BookingStatus]='NoShow' OR [BookingStatus]='Cancelled' OR [BookingStatus]='Confirmed' OR [BookingStatus]='Pending'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CHK_BookingStatus]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [CHK_Flight_Dates] CHECK  (([ScheduledArrival]>[ScheduledDeparture]))
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [CHK_Flight_Dates]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [CHK_Price] CHECK  (([BasePrice]>(0)))
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [CHK_Price]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [CHK_Status] CHECK  (([Status]='Delayed' OR [Status]='Cancelled' OR [Status]='Arrived' OR [Status]='Departed' OR [Status]='Boarding' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [CHK_Status]
GO
ALTER TABLE [dbo].[Passengers]  WITH CHECK ADD  CONSTRAINT [CHK_Age] CHECK  ((datediff(year,[BirthDate],getdate())>=(0) AND datediff(year,[BirthDate],getdate())<=(120)))
GO
ALTER TABLE [dbo].[Passengers] CHECK CONSTRAINT [CHK_Age]
GO
ALTER TABLE [dbo].[Passengers]  WITH CHECK ADD  CONSTRAINT [CHK_Gender] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[Passengers] CHECK CONSTRAINT [CHK_Gender]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CHK_PaymentMethod] CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='BankTransfer' OR [PaymentMethod]='Cash' OR [PaymentMethod]='DebitCard' OR [PaymentMethod]='CreditCard'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CHK_PaymentMethod]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CHK_PaymentStatus] CHECK  (([PaymentStatus]='Refunded' OR [PaymentStatus]='Failed' OR [PaymentStatus]='Completed' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CHK_PaymentStatus]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [CHK_Position] CHECK  (([Position]='W' OR [Position]='F' OR [Position]='E' OR [Position]='D' OR [Position]='C' OR [Position]='B' OR [Position]='A'))
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [CHK_Position]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [CHK_Row] CHECK  (([RowNumber]>(0) AND [RowNumber]<(100)))
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [CHK_Row]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [CHK_TicketNumber] CHECK  ((len([TicketNumber])=(13) AND NOT [TicketNumber] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [CHK_TicketNumber]
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateUser]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11. Создание хранимой процедуры для аутентификации пользователей
CREATE   PROCEDURE [dbo].[AuthenticateUser]
    @UserLogin NVARCHAR(50),
    @InputPassword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StoredPassword NVARCHAR(100);
    DECLARE @UserId INT;
    DECLARE @UserRole NVARCHAR(50);
    DECLARE @FullName NVARCHAR(100);
    DECLARE @IsActive BIT;
    
    -- Открываем ключ для дешифровки
    OPEN SYMMETRIC KEY UserPasswordEncryptionKey 
    DECRYPTION BY CERTIFICATE UserPasswordCertificate;
    
    -- Получаем и расшифровываем пароль
    SELECT 
        @UserId = UserId,
        @StoredPassword = CONVERT(NVARCHAR(100), DECRYPTBYKEY(UserPassword)),
        @UserRole = UserRole,
        @FullName = FullName,
        @IsActive = IsActive
    FROM SystemUsers
    WHERE UserLogin = @UserLogin;
    
    -- Закрываем ключ
    CLOSE SYMMETRIC KEY UserPasswordEncryptionKey;
    
    -- Проверяем аутентификацию
    IF @UserId IS NULL
    BEGIN
        SELECT 
            'FAILURE' AS Status,
            'Пользователь не найден' AS Message,
            NULL AS UserId,
            NULL AS UserRole,
            NULL AS FullName;
        RETURN;
    END
    
    IF @IsActive = 0
    BEGIN
        SELECT 
            'FAILURE' AS Status,
            'Учетная запись не активна' AS Message,
            NULL AS UserId,
            NULL AS UserRole,
            NULL AS FullName;
        RETURN;
    END
    
    IF @StoredPassword = @InputPassword
    BEGIN
        SELECT 
            'SUCCESS' AS Status,
            'Аутентификация успешна' AS Message,
            @UserId AS UserId,
            @UserRole AS UserRole,
            @FullName AS FullName;
    END
    ELSE
    BEGIN
        SELECT 
            'FAILURE' AS Status,
            'Неверный пароль' AS Message,
            NULL AS UserId,
            NULL AS UserRole,
            NULL AS FullName;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. Создание процедуры для смены пароля
CREATE   PROCEDURE [dbo].[ChangeUserPassword]
    @UserLogin NVARCHAR(50),
    @OldPassword NVARCHAR(100),
    @NewPassword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @AuthResult TABLE (
        Status NVARCHAR(20),
        Message NVARCHAR(100),
        UserId INT,
        UserRole NVARCHAR(50),
        FullName NVARCHAR(100)
    );
    
    -- Сначала аутентифицируем пользователя
    INSERT INTO @AuthResult
    EXEC AuthenticateUser @UserLogin, @OldPassword;
    
    -- Если аутентификация успешна
    IF EXISTS (SELECT 1 FROM @AuthResult WHERE Status = 'SUCCESS')
    BEGIN
        DECLARE @UserId INT;
        SELECT @UserId = UserId FROM @AuthResult;
        
        -- Открываем ключ для шифрования
        OPEN SYMMETRIC KEY UserPasswordEncryptionKey 
        DECRYPTION BY CERTIFICATE UserPasswordCertificate;
        
        -- Шифруем и сохраняем новый пароль
        UPDATE SystemUsers
        SET UserPassword = ENCRYPTBYKEY(KEY_GUID('UserPasswordEncryptionKey'), @NewPassword)
        WHERE UserId = @UserId;
        
        -- Закрываем ключ
        CLOSE SYMMETRIC KEY UserPasswordEncryptionKey;
        
        SELECT 
            'SUCCESS' AS Status,
            'Пароль успешно изменен' AS Message,
            @UserId AS UserId;
    END
    ELSE
    BEGIN
        SELECT * FROM @AuthResult;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[GetPassengerSecureData]    Script Date: 10.12.2025 0:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11. Создание хранимой процедуры для безопасного доступа к данным
CREATE   PROCEDURE [dbo].[GetPassengerSecureData]
    @PassengerId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Проверяем права доступа
    IF IS_MEMBER('db_airline_admin') = 1 OR IS_MEMBER('BookingManager') = 1
    BEGIN
        OPEN SYMMETRIC KEY PassengerDataKey 
        DECRYPTION BY CERTIFICATE PassengerDataCertificate;
        
        SELECT 
            p.PassengerId,
            p.LastName + ' ' + p.FirstName + ISNULL(' ' + p.MiddleName, '') AS FullName,
            p.BirthDate,
            p.Gender,
            p.DocumentType,
            CONVERT(NVARCHAR(20), DECRYPTBYKEY(p.DocumentNumber)) AS DocumentNumber,
            p.Citizenship,
            CONVERT(NVARCHAR(20), DECRYPTBYKEY(p.PhoneNumber)) AS PhoneNumber,
            CONVERT(NVARCHAR(100), DECRYPTBYKEY(p.Email)) AS Email,
            p.FrequentFlyerNumber
        FROM Passengers p
        WHERE p.PassengerId = @PassengerId;
        
        CLOSE SYMMETRIC KEY PassengerDataKey;
    END
    ELSE
    BEGIN
        -- Для остальных пользователей - только обезличенные данные
        SELECT 
            p.PassengerId,
            LEFT(p.LastName, 1) + '.***' AS LastName,
            LEFT(p.FirstName, 1) + '.***' AS FirstName,
            NULL AS BirthDate,
            NULL AS Gender,
            '***' AS DocumentNumber,
            NULL AS PhoneNumber,
            NULL AS Email
        FROM Passengers p
        WHERE p.PassengerId = @PassengerId;
        
        RAISERROR('Недостаточно прав для просмотра полных данных пассажира', 16, 1);
    END
END;

GO
USE [master]
GO
